# IDE files
.idea/
.vscode/

# CMake files
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
.cmake/

# Grammar source files
lexer.cpp
parser.cpp
parser.hpp
*.o
Interpreter-SQL

# Clang language server
.clangd
compile_flags.txt

# Other
.cache/
_deps/
build/
