# IDE files
.idea/
.vscode/

# CMake files
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
.cmake/
*.cmake
compile_commands.json

# Grammar source files
lexer.cpp
parser.cpp
parser.hpp
*.o
Interpreter-SQL

# Clang language server
.clangd
compile_flags.txt

# Qt
.qtcreator/

# Other
.cache/
_deps/
build/
*.app/
*.dSYM/
*.user

# Ninja files
.ninja_deps
.ninja_log
build.ninja

# Local database and UI state
database.bin
imgui.ini

# test directory
Testing/

# ignore local database state
database.bin