# IDE files
.idea/
.vscode/

# CMake files
cmake-build-debug/
CMakeFiles/
CMakeCache.txt

# Grammar source files
lexer.cpp
parser.cpp
parser.hpp
*.o
Interpreter-SQL

# Clang language server
.clangd
compile_flags.txt

# Qt Creator and specific build folders
.qtcreator/
build/
*.user

# General artifacts from build process
*.app/
*.dSYM/
